<div class="row">
  <div class="col">
    <h1>
      Channels
      <%= link_to new_channel_path, class: "btn btn-outline-success btn-sm ml-1",
          'aria-label': 'New Channel'  do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col pt-3">
    <%= render @channels %>
  </div>
</div>

<div class="row">
  <div class="col pt-3">
    <%= paginate @channels %>
  </div>
</div>
