<nav class="h5">
  <%= link_to 'Home', root_path, class: 'btn btn-outline-dark btn-sm' %> /
  <%= link_to 'Articles', articles_path, class: 'btn btn-outline-dark btn-sm' %> /
  <a class="btn btn-outline-secondary btn-sm disabled" disabled="true" href="#"><%= last_title %></a>
</nav>
