<div class="row mb-4">
  <div class="col-12">
    <%= render partial: 'articles/breadcrumbs', locals: { last_title: 'Detail' } %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= render @article %>
  </div>
</div>
