<div class="row mb-4">
  <div class="col-12">
    <%= render partial: 'articles/breadcrumbs', locals: { last_title: 'Detail' } %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= render @article %>

    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text">
          <% if @article.content %>
            <%= @article.content.html_safe %>
          <% else %>
            <em>No content available</em>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
