<%# Expects type and message in the locals %>
<%# See FlashHelper for valid type value %>

<div class="alert alert-<%= flash_alert_class(type) %> flash alert-dismissible fade show mb-0" role="alert">
  <strong>
    <i class="mr-1 <%= flash_icon_class(type) %>"></i>
  </strong>

  <%= message %>

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
