<div class="row mb-4">
  <div class="col-12 col-md-6">
    <%= render partial: 'groups/breadcrumbs', locals: { last_title: 'All' } %>
  </div>

  <div class="col-12 col-md-6 mt-2 mt-md-0">
    <%= link_to new_group_path, class: "btn btn-outline-success btn-sm float-md-right" do %>
      <i class="fas fa-plus"></i> New Group
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <% if @groups.any? %>
      <%= render @groups %>
    <% else %>
      <h2>No groups to display.</h2>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <%= paginate @groups %>
  </div>
</div>
