<div class="card-header" style="<%= hidden ? 'display: none;' : '' %>">
  <%= link_to group.primary_article.url, target: '_blank' do %>
    <h4>
      <%= group.primary_article.title %>
    </h4>
    <%= render partial: 'news/article_channel_and_time', locals: { article: group.primary_article } %>
  <% end %>
</div>
