<div>
  <div class="position-relative border-bottom border-dark overflow-hidden">
    <div class="news-groups-image-overlay">
      <h5>
        <%= link_to group.primary_article.url, target: '_blank' do %>
          <%= group.primary_article.title %>
        <% end %>
      </h5>

      <%= render partial: 'news/article_channel_and_time', locals: { article: group.primary_article } %>
    </div>

    <img src="<%= group.image_url %>" class="object-fit-cover w-100">
  </div>
</div>
