<div class="d-inline-block p-0">
  <% if path_to_previous_page groups %>
    <%= link_to '<', path_to_previous_page(groups), class: 'btn btn-lg btn-outline-secondary' %>
  <% else %>
    <div class="btn btn-outline-secondary disabled btn-lg">&lt;</div>
  <% end %>

  <% if path_to_next_page groups %>
    <%= link_to '>', path_to_next_page(groups), class: 'btn btn-lg btn-outline-secondary' %>
  <% else %>
    <div class="btn btn-outline-secondary disabled btn-lg">&gt;</div>
  <% end %>

  <div class="lead d-inline-block ml-2 m-0">
    <%= page_n_of_m @news.groups %>
  </div>
</div>
