<div id="story-grid-loading-indicator" class="justify-content-center my-5" style="display: none;">
  <div class="spinner-grow spinner-grow-sm mr-1" role="status"></div>
  <div class="spinner-grow spinner-grow-sm mr-1" role="status"></div>
  <div class="spinner-grow spinner-grow-sm mr-1" role="status"></div>
  <div class="spinner-grow spinner-grow-sm" role="status"></div>
</div>
