<div class="news-row news-category-header">
  <div class="display-4">
    <%= @news.category.title %>
  </div>
</div>

<% if @news.any_groups? %>
  <div class="news-row">
    <div id="story-grid" class="border-top-dark pt-4">
      <%= render partial: 'news/story_grid', locals: { news: @news } %>
    </div>

    <div id="story-grid-loading-indicator" class="d-none justify-content-center my-5">
      <div class="spinner-grow spinner-grow-sm mr-1" role="status"></div>
      <div class="spinner-grow spinner-grow-sm mr-1" role="status"></div>
      <div class="spinner-grow spinner-grow-sm mr-1" role="status"></div>
      <div class="spinner-grow spinner-grow-sm" role="status"></div>
    </div>
  </div>
<% else %>
  <div class="news-row">
    <div class="display-4">
      <h4><em>No stories for this category right now. Check back!</em></h4>
    </div>
  </div>
<% end %>
