<div class="row mb-4 news-category-header" style="margin-top: 70px;">
  <div class="col-12">
    <div>
      <div class="h1 d-inline-block">
        <%= @news.category.title %>
      </div>

      <div class="lead d-md-inline-block mt-md-3 float-md-right">
        <%= page_n_of_m @news.groups %>
      </div>
    </div>
  </div>
</div>

<% if @news.groups.any? %>
  <div class="row">
    <div class="col-12">
      <div class="card-columns news-groups-container">
        <% @news.groups.decorate.each do |group| %>
          <%= render partial: 'news/group', locals: { group: group } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <hr>
      <%= render partial: 'news/page_buttons', locals: { groups: @news.groups } %>
      <hr>
    </div>
  </div>

<% else %>
  <div class="row">
    <div class="col-12">
      <h4><em>No stories for this category right now. Check back!</em></h4>
    </div>
  </div>
<% end %>
