:root {
  --accent-color: #588bb1;
  --border-dark: #343a40;
  --border-light: #e2e2e2;
  --medium-grey: rgb(100, 100, 100);
  --off-white: rgb(230, 230, 230);
  --secondary-accent-color: #524530;
  --translucent-dark-grey: rgba(20, 20, 20, 0.7);
}
