.news-groups-container {
  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .news-groups-image-overlay {
    backdrop-filter: blur(8px);
    background: rgba(20, 20, 20, 0.7);
    border-bottom: 1px solid rgb(100, 100, 100);
    border-top: 1px solid rgb(100, 100, 100);
    bottom: 0px;
    color: rgb(230, 230, 230);
    padding: 10px;
    position: absolute;
  }

  .hightlight {
    border-radius: 7px;
    border: 1.5px outset #ff981a;
    color: #f7f7f7;

    .text-orange {
      color: #edddb8 !important;
    }
  }

  .text-orange {
    color: #604b1a !important;
  }

  @include media-breakpoint-only(md) {
    column-count: 1;
  }

  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}
