<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'shared/head_contents' %>
  </head>

  <body>
    <header>
      <%= render 'shared/flash/group' %>
      <%= render 'shared/navbar' %>
    </header>

    <main class="container-fluid mt-4" role="main">
      <%= yield %>
    </main>
  </body>
</html>
